<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        android:supportsRtl="true">
        <service
            android:name=".ble.service.DfuService"
            android:exported="true" />

        <service
            android:name=".ble.service.DfuService"
            android:exported="true" />
        <service android:name=".ble.service.BLEDeviceService"
            android:exported="true"/>

        <activity android:name=".ble.NotificationActivity" />
    </application>

</manifest>