<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensoro.libbleserver">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <application
        android:supportsRtl="true">
        <service
            android:name=".ble.service.DfuService"
            android:exported="true" />

        <service
            android:name=".ble.service.DfuService"
            android:exported="true" />
        <service android:name=".ble.service.BLEDeviceService" />

        <activity android:name=".ble.NotificationActivity" />
    </application>

</manifest>